version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: zcus_wordpress_app_1
      APP_PORT: 80
      PROXY_AUTH_ADD: "false"

  app:
    image: wordpress:latest
    user: "1000:1000"
    environment:
      - WORDPRESS_DB_HOST=wpmariadb:3306
      - WORDPRESS_DB_NAME=wordpress
      - WORDPRESS_DB_USER=umbrel
      - WORDPRESS_DB_PASSWORD=umbrelwordpress
      - WORDPRESS_TABLE_PREFIX: wpa_
    volumes:
      - ${APP_DATA_DIR}/data/wordpress:/var/www/html
    restart: on-failure
